@import '../../styles/settings.scss';

.hero {
  padding: $base-size;
}

<<<<<<< HEAD
=======


>>>>>>> 659d3454523a7c1948d618694961ae18927c92a1
.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.subtitle {
  margin-top: (- $base-size * 3);
}