@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
i:hover {
    transform: scale(2); 
    color: #fff;
    box-shadow: inset 200px 0 0 0 #26de81;
    border-radius: 50%;
    cursor: pointer;
}

i {
    margin: 5px;
}