@import '../../styles/settings.scss';

.menu{
    margin: 0;   
}

.navigation {
    background-color: darken($color-dark, 3%);
    font-size: 24px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & i {
        margin-left: 50px;
    }
    & li {
        display: inline-block;
        margin: 20px;
    }

    & a {
        text-decoration: none;
        color: rgb(241, 240, 240);
<<<<<<< HEAD
=======
        font-weight: bolder;
>>>>>>> 659d3454523a7c1948d618694961ae18927c92a1
    }
    
    & ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
<<<<<<< HEAD
=======
.linkActive{
    color: #26de81;
} 
>>>>>>> 659d3454523a7c1948d618694961ae18927c92a1
}